*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.first a{
    text-decoration: none;
    color: black;
}

.first p {
    font-weight: bold;
    font-size: 25px;
}


.filter a{
    color: rgb(76, 74, 74);
    margin: 20px;
}

.filter {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    line-height: 1px;
    
}

.filterArrow{
    border: 1px solid black;
}
.brand ul{
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    list-style: none;
}

.brand ul li{
    margin-right: 1px !important;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }


.inputs input{
    border-style: none;
    border-bottom: 1px solid black;
    background-color: rgb(244, 241, 241);
}

button{
    background-color: transparent;
    border: 2px solid red;
    margin-top: 10px;
    margin-right: 40px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px;
    border-radius: 10px;
    }

.fa-heart{
    color: red;
}

.ad{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.img-fluid{
    width: 80%;
    height: 200px;
}

.icons{
    display: flex;
    justify-content: space-between;
}
.only{
    display: flex;
    justify-content: flex-end;
}