.line{
    line-height: 2rem;
    }
/* ////////////////////////////////////////////////////////////////////////////////// */
.font_size{
font-size: small;
color: #464c55;
}
#Save_search{
    background-color: #ffe2e2 !important;
  }
  .price{
    color: #e00000;
  }
  #cards{
    line-height: 1rem;
  }
  .cllbtn{
    background-color: #e00000;
  }
  .cllbtn:hover{
    background-color: #af0000;
  }

  .chatbtn:hover{
    background-color: #ffe2e2;
  }
  .img {
    height: 10rem;
  }
  .options2 {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 4px;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  
  .options2 li {
    cursor: pointer;
    padding: 8px 12px;
  }
  
  .options2 li:hover {
    background-color: #f0f0f0;
  }
  
  .options2 li.matching {
    background-color: #f0f0f0;
    cursor: pointer;
  }
  